html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.colorBlack
{
    color:black;
    margin:5px;
    padding:5px;
}

.colorBlack h2{
    color: white;
}

.form-floating
{
    padding:5px;
}

@media print{
    body *{
        visibility:hidden
    }
    .print-section,.print-section *{
        visibility:visible
    }
    .card-footer{
        display:none;
    }
    .print-section{
        position:absolute;
        left:0;
        top:0;
    }
}